<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="S-RAMP repository browser"
            id="cz.muni.fi.srampRepositoryBrowser">
      </category>
      <view
            name="S-RAMP repository browser"
            icon="icons/sample.gif"
            category="cz.muni.fi.srampRepositoryBrowser"
            class="cz.muni.fi.sramprepositorybrowser.views.SrampRepositoryBrowser"
            id="cz.muni.fi.sramprepositorybrowser.views.SrampRepositoryBrowser">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="cz.muni.fi.sramprepositorybrowser.views.SrampRepositoryBrowser">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
